@charset "utf-8";
/*!
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 * v4.0.23-development - 2016-10-18
 *
 */
details.addcomment summary{
  background-color: lightblue;
  text-decoration: underline
}

.commentpresent {
  background-color: lightyellow  !important;
}
details.commentpresent summary {
    color: #0535d2;
    background-color: lightyellow  !important;
    text-decoration: underline
}
details.commentpresent a {
    margin-left: 3em
}
details.commentpresent button {
    margin-top: 8px;
    margin-right: 20px
    }
details.commentpresent div.savestatus  {
    margin-top: 0px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}
#bottom-bar header {
  background-color: lightyellow;
}
#bottom-bar  button.mfp-close {
	color: red;
}
 .wb-panel-r {
    height: auto;
    max-width: 90%;
    top: 0
}

#commentpreview .wb-eqht section {
    display: inline-block;
    margin-bottom: 15px;
    padding: 15px;
    width: 49%;
}
#commentpreview.hideempty .emptycomment {
    display: none;
    
}
#commentpreview.hideorigtext .origtext {
   display: none;

}
.checkboxcomment label:after {
    padding-left: 4px;
    padding-top: 2px;
    font-size: 1.2em;
}
input.commentator  {
    width: 50%;
   }

@media only screen {
h5.comment-edit {
    color: #0535d2;
    background-color: lightyellow  !important;
    text-decoration: underline;
    cursor: pointer;
}

h5.comment-empty  {
    background-color: lightblue !important;
    text-decoration: underline;
    cursor: pointer;
}
}
